
<h3>All Booths</h3>
<hr>
	<div class="panel panel-default">
		<span class ="event-link"><%=link_to "Add New Organization", new_booth_path%></span>
		<div class="booths"	display="display:inline-block;">
			<table class="table table-striped">
				<%@booths.each do |b|%>
						 <tr>	
						    <td><%=b.name%></td>
						    <td><%= link_to "Delete", b, method: :delete, data: { confirm: "You sure?" } %></td>
						    <td><%= link_to "Edit", edit_booth_path(b) %></td>
						 <tr>
				<%end%>
			</table>
		</div>
	</div>
</hr>
