
<% provide(:title,"All Organizations") %>
<h3>All Booths</h3>

<hr>
		<span class ="event-link"><%=link_to "Add New Organization", new_booth_path%></span>
		<div class="booths"	display="display:inline-block;">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><b>Organization</b></th>
					</tr>
				</thead>
				<%@booths.each do |b|%>
						 <tr>	
						    <td><%=b.name%></td>
						    <td><%= link_to "Delete", b, method: :delete, data: { confirm: "You sure?" },
						    class: "btn btn-default" %></td>
						    <td><%= link_to "Edit", edit_booth_path(b), class: "btn btn-default" %></td>
						 <tr>
				<%end%>
			</table>
	
	</div>
</hr>
