<h1>All Booths</h1>
<span class ="event-link"><%=link_to "Add New Organization", new_booth_path%></span>


<div class="booths">
	<ul class ="users">
		<%@booths.each do |b|%>
		   <li>
			  <%=b.name%>
			    | <%= link_to "Delete", b, method: :delete, data: { confirm: "You sure?" } %>
			    | <%= link_to "Edit", edit_booth_path(b) %>
		   </li>
		<%end%>
	</ul>
</div>