<!-- if the current user is not an admin, display information about citp events,
	 else if the current user is an admin 
	 allow the admin to edit/create the passport information -->
<div class="col-xs-8 col-sm-6" style="margin-left:30%">
	<button type="button" class="btn btn-default"><%=link_to"Add Organization", new_booth_path%></button>
	<button type="button" class="btn btn-default"><%=link_to "Create Event", new_event_path%></button>
</div>
