<div id="events-form" style="display:inline-block">
	<h1> Previous Events </h1>
	<div class ="event-link"><%=link_to "Create New Event", new_event_path%></div>

	<div class="booths" style="display:inline-block">
		<ul class ="users">
			<%@events.each do |event|%>
			   <li>
				  <%=event.date%> | <%=event.location%> |
				  <%=link_to "Booths", event_path(event), remote: true%>
			   </li>
			<%end%>
		</ul>
	</div>
</div>
<div id="task-form" style="display:none">
</div>
