<% provide(:title ,"Passport") %>
<link rel="stylesheet" type="text/css" media="print" href="print.css">
<div class="passport">
	<%@event.boothlist.each do |booth_id|%>
		<%booth = Booth.find(booth_id)%>
		<div class ="booth-container">
			<div class="sticker-field">
			</div>
			<div class="booth-info">
				<%=booth.name%>
			</div>
		</div>
	<%end%>
</div>