// Place all the styles related to the booth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.booths{
	border: 1px solid grey;
	width:500px;
	height:300px;
	overflow-x:hidden;
	overflow-y:scroll;
	border-radius:.3em;


}

.users li{
	text-align:center;
}

.panel-default {
	border-color: #ddd;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}