// Place all the styles related to the booth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.booths{
	border: 1px solid grey;
	width:700px;
	height:300px;
	overflow-x:hidden;
	overflow-y:scroll;
	border-radius:.3em;
}

.booth{
	border: 1px solid grey;
	width:800px;
	height:300px;
	overflow-x:hidden;
	overflow-y:scroll;
	border-radius:.3em;	
}

.users li{
	text-align:center;
}

.boxed-group {
	position: relative;
	border-radius: 3px;
	margin-bottom: 30px;
}

.boxed-group-inner {
	padding: 1px 10px;
	background: #fff;
	border: 1px solid #d8d8d8;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #666;
	font-size: 13px;
}

.one-fourth {
	float:right;
	width: 25%;
	margin-top:-300px;
}