// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3{
	padding-left: 20px;
}
.events{
	border: 2px solid grey;
	width:400px;
	height:300px;
	overflow-x:hidden;
	overflow-y:scroll;
	margin-left:30%;
	
}

.vertical-text{
	transform: rotate(90deg);
	transform-origin: left top 0;
	float: left;
}

.event-link{
	display: block;
	text-align: center;
	margin-right: 20%;
}

.event_column{
	width:100%;
}
	

#new-event-form{
	width:400px;
	height:200px;
	overflow-x:hidden;
	oveflow-y:scroll;
	border: 1px solid #bbb;
  	margin-bottom: 15px;
}

#add_button{
	display: inline;
	float: right;
}

.event-glyph-buttons{
	display: inline;
	margin-right:20px;
	float: right;
}