/*#sidebar{
	display:none;
}
*/
.sticker-field{
	margin: 10px;
	margin-left:20px;
	width:30px;
	height:30px;
	border:1px solid black;
}
.passport{
	margin-top: 20px;
	border: 1px solid black;
	width: 900px;
	height: 700px;
}

.booth-info{
	display:inline;
}

.booth-container{
	width: 100px;
	height: 100px;
	padding-left: 30px;
	transform: rotate(90deg);
	float: right;
}
