.front-container{
	display:none;
	width: 100px;
	height: 100px;
	transform: rotate(90deg);
	float: right;
	margin-top:10%;
}

.sticker-field{
	margin: auto;
	width: 70px;
	height: 70px;
	border: 1px solid black;
	border-radius: .5em;
}
.passport{
	display:none;
	width: 900px;
	height: 1100px;
}

.innerPages{
	display:none;
	width: 900px;
	height: 1200px;	
}

.booth-info{
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-size:12px;
}

.booth-container{
	width: 100px;
	height: 100px;
	padding-left: 30px;
	float: left;
	margin-bottom: 50px;
}

#file {
	margin-bottom:30px;
	float:left;
}

.upload {
	float:left;
}

#print-control {
	float:left;
}

.page {
	height:917px;
	width:702px;
	position:relative;
	margin-top:50px;
}

.page2 {
	height:917px;
	width:702px;
	position:relative;
}

.inside-page{
	float:left;
	height:455px;
	width:690px;
	margin:15px;
}

.back {
	float:left;
	height:457.5px;
	width:350px;
}

.front {
	float:left;
	height:457.5px;
	width:350px;
}

#date {
	top:100px;
	left:465px;
	position:absolute;
}

#date2 {
	top:560px;
	left:465px;
	position:absolute;
}

#img_1 {
	position:relative;
}

#img_2 {
	position:relative;
}