@media print{
	#print-button{
		display:none;
	}
	.passport{
		display:block;
		width: 400px;
		height: 900px;
	}
	form{
		display:none;
	}

	a{
		display:none;
	}
	.col-sm-3{
		display:none;
	}
	.imageSection{
		display:block;
		margin-bottom:30px;
		border: none;
	}
	.front-container{
		display:block;
		width: 180px;
		height: 140px;
		transform: rotate(90deg);
		float: right;
		
	}
	
	.innerPages{
		display:block;
		width: 800px;
		height: 1200px;	
	}

	.sticker-field{
		margin: auto;
		width: 70px;
		height: 70px;
		border: 1px solid black;
		border-radius: .5em;
	}

	.booth-info{
		margin: 0 auto;
		padding: 10px;
		text-align: center;
	}

	.booth-container{
		width: 80px;
		height: 80px;
		padding-left: 10px;
		transform: rotate(90deg);
		float: right;
		margin-bottom: 30px;
	}

	.slidebox{
		display:none;
	}
	

}