// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#p-container{

  background-color: #ddd;
  width: 90%px;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;

}
.passport_field{
  background-color: white;
  float: left;
  width: 80px;
  height: 70px;
  border: 1px solid black;
  margin: 15px;
  text-align:center;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.passport_field:hover {
	border: 2px solid green;
	font-weight: bold;
}

.checked{
	background-color: blue;
}

/* options */

.hidden {
  width: 150px;
  background-color: #ddd;
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.options {
  @extend .hidden;
  top: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
  
}

