<% provide(:title,"Edit Attendance") %>
	<div class="row">
		<!--edit form-->
		<div class="col-sm-6"> 
			<section class="panel panel-default"> 
				<header class="panel-heading font-bold">Input Event Attendance</header> 
			<div class="panel-body" style="margin: 10px;"> 
				<%=form_tag(edit_attendance_path(@event), method:"get") do |f|%>
					<%@event.boothlist.each do |booth|%>
						<%booth = Booth.find(booth)%>
						<%id = booth.id.to_s%>
						<p><span style="float:left;"><%=booth.name%>:</span> <%=text_field_tag "booth_ids["+id+"]"%></p>
					<%end%>
					<%=submit_tag ("Submit"), class: "btn btn-large btn-primary" %>
				<% end %>
			</div> 
			</section>
		</div>
	</div>
	
	<script>
		$(".side-event").addClass("active");
	</script>

