<ul class="nav nav-sidebar">
	<li class="side-event">
	<%= link_to events_path do %>
        <i class="glyphicon glyphicon-calendar"></i>
        <span style="margin-left:3px">Events</span>
    <% end %>
    
	</li>
	<li class="side-booth">
	    <%= link_to booths_path do %>
            <i class="glyphicon glyphicon-home"></i>
            <span style="margin-left:3px">Booths</span>
        <% end %>
	</li>
	
</ul>

	
	
<!--highlights the sidebar tab the user is currently on-->
<script type="text/javascript">
    $(function() {
        // this will get the full URL at the address bar
        var url = window.location.href;

        // passes on every "a" tag
        $(".nav a").each(function() {
            // checks if its the same on the address bar
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
            }
        });
    });   


</script>