      <!-- left -->
      <h3>Clinic in the Park</h3>
      <hr>
      
      <ul class="nav nav-sidebar">
        <li><%=link_to "Events", events_path%></li>
          <li><%=link_to "Booths", booths_path%></li>
          <li><%=link_to "Log out", signout_path, method: "delete" %></li>
      </ul>
      
      <hr>